<nav th:fragment="navbar" class="navbar fixed-top navbar-expand-lg bg-warning" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><span th:text="${@environment.getProperty('app.software.name')}"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Paciente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/paciente/registro}">Registro</a></li>
                        <li><a class="dropdown-item" th:href="@{/paciente/listar}">Listar</a></li>
                    </ul>
                </li>
-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/tomarPedido}">Tomar Pedido</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
